body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://static.wixstatic.com/media/7788a1_45620785972b4b9ea4a3a1995bbe1378f000.jpg/v1/fill/w_980,h_551,al_c,q_85,usm_0.66_1.00_0.01/7788a1_45620785972b4b9ea4a3a1995bbe1378f000.jpg);
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    color: #f8f4f4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#aboutMe {
    text-align: justify;
    background-image: url(https://static.wixstatic.com/media/7788a1_45620785972b4b9ea4a3a1995bbe1378f000.jpg/v1/fill/w_980,h_551,al_c,q_85,usm_0.66_1.00_0.01/7788a1_45620785972b4b9ea4a3a1995bbe1378f000.jpg);
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fcf9f9;
    border-radius: 50px;
    
}
